name: Deploy to Ubuntu Server

on:
  push:
    branches: [master]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies and build
        run: |
          yarn install --immutable
          yarn build

      - name: Restart PM2
        run: |
          pm2 restart nextjs-app